$mainGreen: #02bacc;
$mainBlue: #5899cf;
$gray: #C7D1D5;
$lightBlue: #f1fafb;
$veryDarkBlue: #254A5D;
$greenDark: #3AC96A;
$greenLight: #40DF76;
$lightGray: #F8F9FA;
$red: #E15B4E;
$darkRed: #C45045;
$online: #6dd400;
$away: #f6b900;
$green: #09cdd1
